VITE_API_BASE_URL=http://localhost:5001/api
VITE_APP_NAME=Jaigurudev
	
API Secret=3gNHaIqnXIlFMrnIgqW6sNZXzOI

API Key=636175934856955
Cloud name =dz5xloqgd


‎Follow the Jaigurudevukm channel on WhatsApp: https://whatsapp.com/channel/0029VaAcAA40QeadmEmp9y3c